#sobre-mi {
  display: flex;
  align-items: center;
}

.about-container {
  text-align: center;
}

.about-image-container {
  text-align: center;
}

.about-container,
.about-image-container {
  padding: 1.5rem;
}

.about-image-container {
  padding-top: 0;
  display: none;
}

.about-container > div {
  margin: .5rem;
}

.about-container h2{
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  color: #385273;
}

.copywrite p {
  font-weight: 0.6rem;
  font-weight: 300;
  margin: 0 0 2rem;
}

.description p {
  font-size: 1.2rem;
  font-weight: 400;
  margin: 0;
}

.description p,
.copywrite p  {
  color: #343740;
}

@media (min-width: 950px) {

  #sobre-mi {
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    height: 100vh;
    }

  .about-container {
    width: 50%;
    text-align: left;
  }

  .about-container h2{
    margin: 0;
  }

  .about-image-container {
    padding: 0;
    display: block;
  }

  .about-image{
    width: 100%;
  }

  .about-container h2{
    font-size: 3rem;
  }
  
  .copywrite p {
    font-weight: 1rem;
  }
  
  .description p {
    font-size: 1.5rem;
    padding: 0;
  }
}