.topheader {
  z-index: 2;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background-color: transparent;
}

.topnav{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
  margin: 0;
  height: 60px;
}

.topheader.solid .topnav {
  background-color: #385273;
  box-shadow: rgba(33, 35, 38, 0.1) 0px 10px 10px -10px;
  transition: 0.5s;
}

.logo {
  font-weight: 600;
}

.logo > div {
  color: #F2EEEB;
}

/*Menu*/

.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  padding: 0 15px;
  
}

.menu a {
  font-size: 1rem;
  font-weight: 400;
  line-height: 10px;
  text-transform: uppercase;
  color: #F2EEEB;
  position: relative
}
 
.menu a:link {
    text-decoration: none;
}

.menu a::after {
  content: "";
  background-color: #F2EEEB;
  position: absolute;
  left: 0;
  top: calc(100% + 4px);
  width: 100%;
  height: 3px;
  border-radius: 4px;

  opacity: 0;
  transition: opacity 0.5 ease-in-out 0.1;
}

.menu a.selected::after,
.menu a:hover::after {
  opacity: 0.8;
}

.open-menu, 
.close-menu {
  display: none;
  filter: invert(100%);
}

/*.topheader.off{
  transform: translateY(-300px);
}*/

@media (max-width: 950px) {

.topnav{
  justify-content: space-between;
}
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    background-color: #FDFEFE;
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  
  .menu li {
    padding: 0;
  }
  
  .menu a {
    line-height: 70px;
    color: #F2EEEB;
    font-size: 25px;
    font-weight: 500;
  }
  
  .open-menu, 
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }

  .close-menu {
    align-self: flex-end;
    padding: 21px 28px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
    background-color: #385273;
  }

  .open-menu img, 
  .close-menu img {
    width: 70%;
    color: #385273;
  }

  .open-menu:focus:not(focus-visible),
  .close-menu:focus:not(focus-visible) {
    outline: none;
  }

  .menu a::after {
    content: none;
  }
  
  .menu a:hover,
  .menu a.selected {
    color: #151F2B;
  }
  
  .menu a.selected {
    font-weight:bolder;
  }

}