#servicios {
  height: 100vh;
  text-align: center;
}

.services-title {
  margin-top: 20px;
}

.services-title h2{
  font-size: 2.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  color: #385273;
}

.services-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card{
  height: auto;
  margin: 2rem;
  padding: 0;  
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: none;
}

.card .icon {
  width: 20%;
  height: 20%;
  display: flex;
  align-items: center;
  align-content: center;
}

.card .icon img {
  width: 100%;
  color: #343740;
}
.card .title-card {
  font-size: 1.4rem;
  font-weight: 600;
  color: #46658C;
  padding: 10px;
}

.card .line {
  background-color: #343740;
  height: 0.2vh;
  width: 20%;
}

.card .description-card {
  font-size: 1rem;
  font-weight: 500;
  padding: 1rem;
  color: rgba(52, 55, 64, 0.8);
}

.card p {
  margin: 0;
  padding: 0;
  text-align: center;
}

@media (min-width: 950px) {

  #servicios {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .services-title {
    margin-top: 0;
    margin-bottom: 50px;
  }
  
  .services-container {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

}